.header{
    position:sticky;
    top:0;
    z-index:999;
    background:rgba(255,255,255,.92);
    backdrop-filter:blur(14px);
    border-bottom:1px solid #f3d8e6;
}

.header-container{
    height:90px;

    display:flex;
    justify-content:space-between;
    align-items:center;
}

.logo img{
    height:64px;
    width:auto;
    display:block;

    transition:.3s;
}

.logo:hover img{
    transform:scale(1.05);
}

.nav-menu{
    display:flex;
    gap:40px;
    list-style:none;
}

.nav-menu a{
    font-size:17px;
    font-weight:500;
    color:#333;
    transition:.25s;
}

.nav-menu a:hover{
    color:#d97ba8;
}
