/* ==========================================
   CONTAINER
========================================== */

.container{
    width:min(1320px,92%);
    margin:auto;
}


/* ==========================================
   SECTION
========================================== */

.section-title{

    font-size:2.6rem;
    font-weight:700;

    color:#2d3553;

    text-align:center;

    margin-bottom:14px;
}

.section-desc{

    max-width:700px;

    margin:0 auto;

    text-align:center;

    color:#6e7185;

    line-height:1.8;
}


/* ==========================================
   BUTTON
========================================== */

.hero-button{

    display:inline-flex;

    align-items:center;
    justify-content:center;

    padding:14px 30px;

    border-radius:999px;

    background:#ff6ba5;

    color:#fff;

    font-weight:600;

    transition:.3s ease;
}

.hero-button:hover{

    transform:translateY(-3px);

    box-shadow:
        0 12px 30px
        rgba(255,107,165,.25);
}
